.section {
    display: flex;
    flex: 1;
    height: 100%;
    overflow-x: auto;
    flex-direction: column;
}
  
.sectionTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.sectionList {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: auto;
}