

.section {
    width: 250px;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.sectionTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionList {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
}